In [ ]:
# https://jsikim1.tistory.com/140

In [486]:
import pandas as pd
import numpy as np

from datetime import datetime

from sqlalchemy import create_engine

In [2]:
# garbage collector로 메모리 정리하기
import gc
gc.collect()

0

In [3]:
#공휴일 데이터에 명절에 대한 코드를 3으로 부여하기
#공휴일 데이터 불러오기
holiday_raw=pd.read_excel('./공휴일 데이터/holiday_2021-2023.xlsx')

#명절(설날, 추석)이면 휴일여부에 3이 표시되도록 변경
holiday_raw['휴일여부']=np.where(holiday_raw['휴일명'].str.contains('설날') | holiday_raw['휴일명'].str.contains('추석'),3, holiday_raw['휴일여부'])
holiday=holiday_raw.iloc[:,1:]

In [4]:
holiday

             날짜 요일  휴일여부  휴일명
0    2021-01-01  금     1   신정
1    2021-01-02  토     1  NaN
2    2021-01-03  일     1  NaN
3    2021-01-04  월     0  NaN
4    2021-01-05  화     0  NaN
...         ... ..   ...  ...
1090 2023-12-27  수     0  NaN
1091 2023-12-28  목     0  NaN
1092 2023-12-29  금     0  NaN
1093 2023-12-30  토     1  NaN
1094 2023-12-31  일     1  NaN

[1095 rows x 4 columns]

In [476]:
#축제 데이터를 통해 지역별 축제일을 표시하기
festival_raw=pd.read_excel('./축제 데이터/2021-2024년_축제_일정.xlsx')

#컬럼['startdate']의 타입 변경
festival_raw['startdate']=festival_raw['startdate'].astype(str)
festival_raw['enddate']=festival_raw['enddate'].astype(str)

#len()이 가능한지여부를 ery, except로, 글자수를 확인하여 if,else적용
def test(x):
    try:
        if len(x)<9:
            result=datetime.strptime(x,'%Y%m%d')
        else:
            result=x
    except:
        result=x
    return(result)

#series에  apply()를 써서 함수 적용
festival_raw['startdate']=festival_raw['startdate'].apply(lambda x: test(x))
festival_raw['enddate']=festival_raw['enddate'].apply(lambda x: test(x))

#타입을 datetime으로 하기
festival_raw['startdate']= pd.to_datetime(festival_raw['startdate'])
festival_raw['enddate']= pd.to_datetime(festival_raw['enddate'])

#필요한 컬럼만 남기기
festival=festival_raw[['code','startdate','enddate']]

#dict_에 지역별 축제일 담기
dict_={}
errors=[]
for i in festival['code'].unique():
    tmp=festival[festival['code']==i].reset_index(drop=True)
    for j in range(0,tmp.shape[0]):
        start=tmp['startdate'][j]
        end=tmp['enddate'][j]
        try:
            dates=[date.strftime("%Y-%m-%d") for date in pd.date_range(start, periods=(end-start).days+1)]
            if f'{i}' in dict_:
                dict_[f'{i}'].append(dates)
            else:
                dict_[f'{i}']=dates
        except:
            errors.append(i)
            
#이중리스트 푸는 함수
def flat_(lst):
    result=[]
    for i in lst:
        if isinstance(i, type([])):
            result+=flat_(i)
        else:
            result+=[i]
    return result

#딕셔너리dict_에 이중리스트 해제
for i in dict_.keys():
    dict_[i]=flat_(dict_[i])

#데이터프레임holiday를 얇은 복사
hol=holiday.copy()

In [478]:
#지역별 축제일 여부 만들기
for code in dict_.keys():
    hol[code]=0
    for day in dict_[code]:
        hol[code]=np.where(hol['날짜']==day, 1, hol[code])

C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0
C:\Users\user\AppData\Local\Temp\ipykernel_9044\182499658.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hol[code]=0

In [484]:
hol

,날짜,요일,휴일여부,휴일명,46810,46780,46830,46110,46840,46150,...,48730,43800,48220,47210,42210,47820,47290,42170,47720,41130
0,2021-01-01,금,1,신정,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-02,토,1,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-03,일,1,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-04,월,0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-05,화,0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,2023-12-27,수,0,NaN,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1091,2023-12-28,목,0,NaN,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1092,2023-12-29,금,0,NaN,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1093,2023-12-30,토,1,NaN,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1094,2023-12-31,일,1,NaN,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [487]:
#DB에 저장하기
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/project?charset=utf8")
hol.to_sql(name='day', con=engine, if_exists='append',index=False)

1095