In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import pymysql
import gc
from tqdm import tqdm

In [21]:
minor = "geochang, gyeongju, gochangeup, gurye, gumi, naju, damyang, muan, muju, miryang, boeun, jangheung, jeongeup, seosan, wonju"

In [22]:
minor = minor.split(', ')

In [23]:
def getDataFromLoc(location):
    conn = create_engine("mysql+pymysql://jeogi:1234@10.10.21.86:3306/jeogi?charset=utf8")
    data_raw = pd.read_sql(f"SELECT * FROM {location} WHERE Date > 20210000",conn,index_col="index")
    conn.dispose()
    data = data_raw.loc[data_raw.Time < 24].copy()
    data.Date = data.Date.astype(str).copy()
    data.Time = data.Time.astype(str).copy()
    data["DateTime"] = data.apply(lambda row : combine_date(row["Date"],row["Time"]),axis=1).copy()
    data.DateTime = pd.to_datetime(data["DateTime"]).copy()
    data["move"] = data.apply(lambda row : sum_data([row["sum(Type1)"],row["sum(Type2)"],row["sum(Type3)"],row["sum(Type4)"],row["sum(Type5)"],row["sum(Type6)"]]),axis=1).copy()
    data = data[["DateTime","EntranceAndExit","move"]].sort_values(["DateTime"]).reset_index().iloc[:,1:]
    data = data.groupby(["EntranceAndExit"])["DateTime"].apply(lambda x: pd.date_range(start=x.min(), end=x.max(), freq="H")).explode().reset_index().merge(data, how="left").ffill()
    
    in_data = data.loc[data.EntranceAndExit == 0].reset_index().rename(columns={"move":"in"})[["DateTime","in"]].set_index(["DateTime"])
    out_data = data.loc[data.EntranceAndExit == 1].reset_index().rename(columns={"move":"out"})[["DateTime","out"]].set_index(["DateTime"])
 
    return in_data, out_data

In [24]:
def combine_date(col1, col2):
    result = str(col1)
    result = result[:4]+"-"+result[4:6]+"-"+result[6:]+" "
    if len(col2) < 2 :
        result += "0"
    result += str(col2)
    return result

def sum_data(data_list):
    result = 0.0
    for data in data_list:
        if data != "":
            result += data
    return result

In [25]:
size = len(minor)
for idx, location in enumerate(minor):
    print(round(idx/size*100),"% 완료")
    if idx != 0:
        in_temp, out_temp = getDataFromLoc(location)
        mean_in_data += in_temp/size
        mean_out_data += out_temp/size
    else:
        in_temp, out_temp = getDataFromLoc(location)
        mean_in_data = pd.DataFrame(in_temp/size)
        mean_out_data = pd.DataFrame(out_temp/size)

0 % 완료
7 % 완료
13 % 완료
20 % 완료
27 % 완료
33 % 완료
40 % 완료
47 % 완료
53 % 완료
60 % 완료
67 % 완료
73 % 완료
80 % 완료
87 % 완료
93 % 완료

In [26]:
mean_in_data.reset_index(inplace=True)
mean_out_data.reset_index(inplace=True)

In [27]:
mean_data = pd.merge(mean_in_data,mean_out_data, how="inner", on=["DateTime"])

In [28]:
holiday = pd.read_excel("holiday_2021-2023.xlsx")

In [29]:
holiday = holiday.iloc[:,1:]

In [30]:
holiday.날짜 = pd.to_datetime(holiday["날짜"]).copy()

In [31]:
holiday.rename(columns={"날짜":"DateTime"},inplace=True)

In [32]:
new_mean_data = pd.merge(mean_data,holiday,how="left", on=["DateTime"])

In [33]:
new_mean_data[["DateTime","요일","휴일여부"]] = new_mean_data[["DateTime","요일","휴일여부"]].ffill()

In [34]:
new_mean_data

                 DateTime          in         out 요일  휴일여부  휴일명
0     2021-01-01 00:00:00   62.733333   91.600000  금   1.0   신정
1     2021-01-01 01:00:00   52.733333   69.666667  금   1.0  NaN
2     2021-01-01 02:00:00   41.866667   52.733333  금   1.0  NaN
3     2021-01-01 03:00:00   42.600000   44.866667  금   1.0  NaN
4     2021-01-01 04:00:00   59.733333   57.933333  금   1.0  NaN
...                   ...         ...         ... ..   ...  ...
26275 2023-12-31 19:00:00  448.933333  454.266667  일   1.0  NaN
26276 2023-12-31 20:00:00  342.733333  368.466667  일   1.0  NaN
26277 2023-12-31 21:00:00  244.200000  300.333333  일   1.0  NaN
26278 2023-12-31 22:00:00  177.400000  228.066667  일   1.0  NaN
26279 2023-12-31 23:00:00  113.800000  154.666667  일   1.0  NaN

[26280 rows x 6 columns]

In [35]:
new_mean_data.loc[((new_mean_data.요일 != "토") & (new_mean_data.요일 != "일")) & (new_mean_data.휴일여부 == 1.0)] = new_mean_data.loc[((new_mean_data.요일 != "토") & (new_mean_data.요일 != "일")) & (new_mean_data.휴일여부 == 1.0)].ffill()

In [36]:
new_mean_data

                 DateTime          in         out 요일  휴일여부  휴일명
0     2021-01-01 00:00:00   62.733333   91.600000  금   1.0   신정
1     2021-01-01 01:00:00   52.733333   69.666667  금   1.0   신정
2     2021-01-01 02:00:00   41.866667   52.733333  금   1.0   신정
3     2021-01-01 03:00:00   42.600000   44.866667  금   1.0   신정
4     2021-01-01 04:00:00   59.733333   57.933333  금   1.0   신정
...                   ...         ...         ... ..   ...  ...
26275 2023-12-31 19:00:00  448.933333  454.266667  일   1.0  NaN
26276 2023-12-31 20:00:00  342.733333  368.466667  일   1.0  NaN
26277 2023-12-31 21:00:00  244.200000  300.333333  일   1.0  NaN
26278 2023-12-31 22:00:00  177.400000  228.066667  일   1.0  NaN
26279 2023-12-31 23:00:00  113.800000  154.666667  일   1.0  NaN

[26280 rows x 6 columns]

In [37]:
conn = create_engine("mysql+pymysql://jeogi:1234@10.10.21.86:3306/jeogi?charset=utf8")
new_mean_data.to_sql(name="minor",con=conn, if_exists="replace")

26280