In [1]:
import pandas as pd
from tqdm import tqdm
from sqlalchemy import create_engine, text
import pymysql

In [23]:
engine = create_engine("mysql+pymysql://jeogi:1234@10.10.21.86:3306/jeogi?charset=utf8")
conn = engine.connect()

In [3]:
# targets = {
#     "gapyeong": [654],
#     "gangneung": [189, 580, 581, 584],
#     "gangjin": [982],
#     "geochang": [274, 280],
#     "changwon": [146, 294, 92, 289],
#     "gyeongsan": [131, 524],
#     "gyeongju": [133, 135, 706, 708],
#     "gyeryong": [109],
#     "goryeong": [241, 242],
#     "goseong": [512, 513, 514],
#     "gochangeup": [504, 505, 567],
#     "goheung": [986],
#     "gokseong": [263, 265, 266],
#     "gongju": [575, 576, 577, 595, 603, 604, 605],
#     "gwangyang": [272, 273, 275, 276],
#     "gwangjusi": [261, 569, 167, 552, 553, 718, 719],
#     "gwangju": [191, 192],
#     "goesan": [563, 564],
#     "gurye": [558],
#     "guri": [62, 63],
#     "gumi": [123, 125, 134],
#     "gunsan": [227, 228],
#     "gunwi": [205],
#     "gunpo": [214, 215],
#     "geumsan": [200, 204],
#     "gimje": [160, 161, 501],
#     "gimcheon": [121, 122, 130, 537],
#     "gimpo": [68],
#     "gimhae": [91, 147, 148, 149, 245, 252, 628, 755, 756, 757],
#     "naju": [550, 551],
#     "namyangju": [74, 651, 652, 764],
#     "namwon": [247, 264, 269, 559, 586],
#     "nonsan": [155, 606, 607],
#     "danyang": [521, 522],
#     "damyang": [249, 262],
#     "dangjin": [287, 288, 571],
#     "daegu": [230, 621, 777, 778, 779, 127, 58, 129, 201, 774, 775, 776, 623, 519, 57, 231, 232, 233, 772, 773],
#     "daejeon": [114, 115, 119, 154, 153, 151, 152, 113],
#     "donghae": [582, 583],
#     "mokpo": [509],
#     "muan": [56, 508, 547, 548],
#     "muju": [164, 168],
#     "mungyeong": [565],
#     "miryang": [625, 626, 627],
#     "boryeong": [259, 511],
#     "boseong": [984, 985],
#     "boeun": [533, 534],
#     "busan": [648, 752, 140, 529, 753, 29, 150, 244, 246, 25, 645, 646, 647],
#     "buan": [502, 503],
#     "buyeo": [592, 593],
#     "sacheon": [279, 290, 291],
#     "sancheong": [221, 222, 223],
#     "samcheok": [703, 704],
#     "sangju": [124, 535, 536, 570, 712],
#     "seosan": [298, 299],
#     "seocheon": [234, 260, 591],
#     "seongnam": [61, 69, 65, 101],
#     "seongju": [538, 539],
#     "sejong": [578, 579, 613],
#     "sokcho": [702],
#     "suwon": [212, 102],
#     "sunchang": [248],
#     "suncheon": [13, 267, 268, 270, 271, 556, 557, 987],
#     "siheung": [67, 254, 685, 743],
#     "asan": [726, 727],
#     "andong": [207, 208, 715],
#     "ansan": [253, 281, 255, 256, 684],
#     "anseong": [107, 193, 541, 542, 543],
#     "yangsan": [138, 250, 251],
#     "yangyang": [284, 510, 585, 701, 768],
#     "yangpyeong": [517, 653],
#     "yeoju": [177, 500, 597, 598],
#     "yeonggwang": [506],
#     "yeongdeok": [749],
#     "yeongdong": [118, 120],
#     "yeongam": [12, 981],
#     "yeongyang": [748],
#     "yeongju": [210, 211],
#     "yeongcheon": [132, 525],
#     "yesan": [572, 573, 574],
#     "yecheon": [209],
#     "osan": [106, 673, 675],
#     "okcheon": [116, 117],
#     "wanju": [157, 544, 545, 589],
#     "yongin": [171, 172, 173, 742, 103, 105, 528],
#     "ulsan":[137,139,641,642,643,644,722,747,771],
#     "wonju":[178,180,217,218,219],
#     "eumseong":[128,136,195,560],
#     "uiseong":[206,713,714],
#     "uiwang":[64,213],
#     "icheon":[175,176,194,705],
#     "iksan":[156],
#     "inje":[766],
#     "incheon":[53,11],
#     "imsil":[587,588],
#     "jangseong":[165,166,568],
#     "jangsu":[169],
#     "jangheung":[983],
#     "jeonju":[159,158,590],
#     "jeongeup":[162,163,530],
#     "jecheon":[240,523],
#     "jinan":[546],
#     "jinju":[225,292,293,295,296],
#     "jincheon":[196,555],
#     "changnyeong":[235,236,237],
#     "cheonan":[108,110,601,728,229],
#     "cheongdo":[624],
#     "cheongsong":[716],
#     "cheongyang":[594],
#     "cheongju":[531,112,111,198,197,199],
#     "chuncheon":[174,655,656,658],
#     "chungju":[188,297,561,562],
#     "chilgok":[126,202,203,518],
#     "tongyeong":[515,516],
#     "pyeongchang":[183,184,185,186,187],
#     "pyeongtaek":[285,520,540,677,741],
#     "pohang":[527,707,526],
#     "hanam":[66,190],
#     "hadong":[277,278],
#     "haman":[142,143,144,145,238,239],
#     "hamyang":[104,170,224],
#     "hampyong":[507,549],
#     "hapcheon":[243],
#     "hongseong":[257,258],
#     "hongcheon":[179,554,765],
#     "hwaseong":[282,283,671,672,676,682,683,876],
#     "hoengseong":[181,182,216]
# }

In [4]:
targets = {
    "gapyeong": "(654)",
    "gangneung": "(189, 580, 581, 584)",
    "gangjin": "(982)",
    "geochang": "(274, 280)",
    "changwon": "(146, 294, 092, 289)",
    "gyeongsan": "(131, 524)",
    "gyeongju": "(133, 135, 706, 708)",
    "gyeryong": "(109)",
    "goryeong": "(241, 242)",
    "goseong": "(512, 513, 514)",
    "gochangeup": "(504, 505, 567)",
    "goheung": "(986)",
    "gokseong": "(263, 265, 266)",
    "gongju": "(575, 576, 577, 595, 603, 604, 605)",
    "gwangyang": "(272, 273, 275, 276)",
    "gwangjusi": "(261, 569, 167, 552, 553, 718, 719)",
    "gwangju": "(191, 192)",
    "goesan": "(563, 564)",
    "gurye": "(558)",
    "guri": "(062, 063)",
    "gumi": "(123, 125, 134)",
    "gunsan": "(227, 228)",
    "gunwi": "(205)",
    "gunpo": "(214, 215)",
    "geumsan": "(200, 204)",
    "gimje": "(160, 161, 501)",
    "gimcheon": "(121, 122, 130, 537)",
    "gimpo": "(068)",
    "gimhae": "(091, 147, 148, 149, 245, 252, 628, 755, 756, 757)",
    "naju": "(550, 551)",
    "namyangju": "(074, 651, 652, 764)",
    "namwon": "(247, 264, 269, 559, 586)",
    "nonsan": "(155, 606, 607)",
    "danyang": "(521, 522)",
    "damyang": "(249, 262)",
    "dangjin": "(287, 288, 571)",
    "daegu": "(230, 621, 777, 778, 779, 127, 058, 129, 201, 774, 775, 776, 623, 519, 057, 231, 232, 233, 772, 773)",
    "daejeon": "(114, 115, 119, 154, 153, 151, 152, 113)",
    "donghae": "(582, 583)",
    "mokpo": "(509)",
    "muan": "(056, 508, 547, 548)",
    "muju": "(164, 168)",
    "mungyeong": "(565)",
    "miryang": "(625, 626, 627)",
    "boryeong": "(259, 511)",
    "boseong": "(984, 985)",
    "boeun": "(533, 534)",
    "busan": "(648, 752, 140, 529, 753, 029, 150, 244, 246, 025, 645, 646, 647)",
    "buan": "(502, 503)",
    "buyeo": "(592, 593)",
    "sacheon": "(279, 290, 291)",
    "sancheong": "(221, 222, 223)",
    "samcheok": "(703, 704)",
    "sangju": "(124, 535, 536, 570, 712)",
    "seosan": "(298, 299)",
    "seocheon": "(234, 260, 591)",
    "seongnam": "(061, 069, 065, 101)",
    "seongju": "(538, 539)",
    "sejong": "(578, 579, 613)",
    "sokcho": "(702)",
    "suwon": "(212, 102)",
    "sunchang": "(248)",
    "suncheon": "(013, 267, 268, 270, 271, 556, 557, 987)",
    "siheung": "(067, 254, 685, 743)",
    "asan": "(726, 727)",
    "andong": "(207, 208, 715)",
    "ansan": "(253, 281, 255, 256, 684)",
    "anseong": "(107, 193, 541, 542, 543)",
    "yangsan": "(138, 250, 251)",
    "yangyang": "(284, 510, 585, 701, 768)",
    "yangpyeong": "(517, 653)",
    "yeoju": "(177, 500, 597, 598)",
    "yeonggwang": "(506)",
    "yeongdeok": "(749)",
    "yeongdong": "(118, 120)",
    "yeongam": "(012, 981)",
    "yeongyang": "(748)",
    "yeongju": "(210, 211)",
    "yeongcheon": "(132, 525)",
    "yesan": "(572, 573, 574)",
    "yecheon": "(209)",
    "osan": "(106, 673, 675)",
    "okcheon": "(116, 117)",
    "wanju": "(157, 544, 545, 589)",
    "yongin": "(171, 172, 173, 742, 103, 105, 528)",
    "ulsan":"(137,139,641,642,643,644,722,747,771)",
    "wonju":"(178,180,217,218,219)",
    "eumseong":"(128,136,195,560)",
    "uiseong":"(206,713,714)",
    "uiwang":"(64,213)",
    "icheon":"(175,176,194,705)",
    "iksan":"(156)",
    "inje":"(766)",
    "incheon":"(53,11)",
    "imsil":"(587,588)",
    "jangseong":"(165,166,568)",
    "jangsu":"(169)",
    "jangheung":"(983)",
    "jeonju":"(159,158,590)",
    "jeongeup":"(162,163,530)",
    "jecheon":"(240,523)",
    "jinan":"(546)",
    "jinju":"(225,292,293,295,296)",
    "jincheon":"(196,555)",
    "changnyeong":"(235,236,237)",
    "cheonan":"(108,110,601,728,229)",
    "cheongdo":"(624)",
    "cheongsong":"(716)",
    "cheongyang":"(594)",
    "cheongju":"(531,112,111,198,197,199)",
    "chuncheon":"(174,655,656,658)",
    "chungju":"(188,297,561,562)",
    "chilgok":"(126,202,203,518)",
    "tongyeong":"(515,516)",
    "pyeongchang":"(183,184,185,186,187)",
    "pyeongtaek":"(285,520,540,677,741)",
    "pohang":"(527,707,526)",
    "hanam":"(66,190)",
    "hadong":"(277,278)",
    "haman":"(142,143,144,145,238,239)",
    "hamyang":"(104,170,224)",
    "hampyong":"(507,549)",
    "hapcheon":"(243)",
    "hongseong":"(257,258)",
    "hongcheon":"(179,554,765)",
    "hwaseong":"(282,283,671,672,676,682,683,876)",
    "hoengseong":"(181,182,216)"
}

In [24]:
for key in tqdm(targets.keys()):
    data_raw = pd.read_sql(f"SELECT * FROM {key}",conn,index_col="index")
    data_raw2 = data_raw.loc[data_raw.Time < 24]
    if len(data_raw2.loc[data_raw2.Date > 20210000]) != 52560:
        print(key, 52560 - len(data_raw2.loc[data_raw2.Date > 20210000]))

  6%|█████▏                                                                            | 8/127 [00:20<05:06,  2.57s/it]

gyeryong 1

 15%|████████████                                                                     | 19/127 [00:48<04:37,  2.57s/it]

gurye 2

 18%|██████████████▋                                                                  | 23/127 [00:59<04:27,  2.58s/it]

gunwi 8

 24%|███████████████████▏                                                             | 30/127 [01:17<04:14,  2.62s/it]

naju 80

 31%|████████████████████████▊                                                        | 39/127 [01:41<03:46,  2.58s/it]

donghae 3

 34%|███████████████████████████▍                                                     | 43/127 [01:51<03:37,  2.59s/it]

mungyeong 18

 37%|█████████████████████████████▉                                                   | 47/127 [02:01<03:24,  2.56s/it]

boeun 1

 47%|██████████████████████████████████████▎                                          | 60/127 [02:34<02:35,  2.33s/it]

sokcho 1

 49%|███████████████████████████████████████▌                                         | 62/127 [02:39<02:40,  2.48s/it]

sunchang 1

 50%|████████████████████████████████████████▊                                        | 64/127 [02:44<02:37,  2.50s/it]

asan 47640

 57%|██████████████████████████████████████████████▌                                  | 73/127 [03:05<02:16,  2.52s/it]

yeonggwang 7

 58%|███████████████████████████████████████████████▏                                 | 74/127 [03:06<02:00,  2.28s/it]

yeongdeok 1

 59%|███████████████████████████████████████████████▊                                 | 75/127 [03:09<02:04,  2.40s/it]

yeongdong 1

 61%|█████████████████████████████████████████████████                                | 77/127 [03:13<01:51,  2.23s/it]

yeongyang 344

 64%|███████████████████████████████████████████████████▋                             | 81/127 [03:24<01:52,  2.44s/it]

yecheon 2758

 73%|███████████████████████████████████████████████████████████▎                     | 93/127 [03:54<01:18,  2.31s/it]

inje 286

 76%|█████████████████████████████████████████████████████████████▊                   | 97/127 [04:04<01:15,  2.50s/it]

jangsu 13

 77%|██████████████████████████████████████████████████████████████▌                  | 98/127 [04:07<01:12,  2.51s/it]

jangheung 35

 80%|████████████████████████████████████████████████████████████████▎               | 102/127 [04:17<01:04,  2.56s/it]

jinan 393

 85%|████████████████████████████████████████████████████████████████████            | 108/127 [04:32<00:44,  2.34s/it]

cheongsong 67

 86%|████████████████████████████████████████████████████████████████████▋           | 109/127 [04:34<00:43,  2.41s/it]

cheongyang 892

 96%|████████████████████████████████████████████████████████████████████████████▊   | 122/127 [05:08<00:12,  2.55s/it]

hampyong 1

 97%|█████████████████████████████████████████████████████████████████████████████▍  | 123/127 [05:10<00:10,  2.54s/it]

hapcheon 223

100%|████████████████████████████████████████████████████████████████████████████████| 127/127 [05:21<00:00,  2.53s/it]

In [4]:
# for key in tqdm(targets.keys()):
#     conn.execute(text(f"DELETE FROM {key} WHERE DATE LIKE '202307%'"))

In [5]:
for key in tqdm(targets.keys()):
    df = pd.read_sql_query(
        f"SELECT Date, Time, EntranceAndExit, sum(Type1), sum(Type2), sum(Type3), sum(Type4), sum(Type5), sum(Type6) FROM july_data WHERE OfficeCode IN {targets[key]} GROUP BY `Date`, `Time`, EntranceAndExit ORDER BY `date`, `Time`"
    ,conn)
    df.Date = pd.Series(["".join(df.Date[i].split("-")).split()[0] for i in range(len(df))])
    df.to_sql(name=key,con=engine, if_exists="append")

100%|████████████████████████████████████████████████████████████████████████████████| 127/127 [02:13<00:00,  1.05s/it]

In [49]:
df

,Date,Time,EntranceAndExit,sum(Type1),sum(Type2),sum(Type3),sum(Type4),sum(Type5),sum(Type6)
0,20230701,00,0,54.0,0.0,1.0,0.0,0.0,0.0
1,20230701,00,1,78.0,0.0,3.0,0.0,0.0,3.0
2,20230701,01,0,73.0,4.0,3.0,0.0,0.0,2.0
3,20230701,01,1,41.0,2.0,2.0,0.0,0.0,1.0
4,20230701,02,0,27.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
1483,20230731,21,1,219.0,1.0,3.0,0.0,1.0,10.0
1484,20230731,22,0,106.0,3.0,4.0,0.0,0.0,9.0
1485,20230731,22,1,98.0,0.0,2.0,0.0,0.0,13.0
1486,20230731,23,0,63.0,0.0,3.0,0.0,0.0,2.0
1487,20230731,23,1,79.0,1.0,2.0,1.0,1.0,6.0